body {
      font-family: sans-serif;
      background: #f4f4f4;
      color: #333;
      padding: 50px;
      text-align: center;
    }
    h1 {
      color: #007bff;
    }
    p {
      font-size: 18px;
      margin: 20px 0;
    }
    footer {
      margin-top: 60px;
      font-size: 14px;
      color: #888;
    }
    #languages div {
      display:inline;
      font-size: 12px;
      border-width: 1px;
      border-right: 0px;
      border-color: #000;
      border-style:solid;
      border-radius: 7px 0px 0px 7px;
      padding: 1px;
    }
    #language-select {
      display: inline;
      margin: 20px auto;
      width: 80px;
      border-radius: 0px 7px 7px 0px;
      padding: 1px;
      background-color: #fcfcfc;
    }